@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}
:root {
  --bgColor: #000000;
  --otherCompo: #ff4d06;
  --lightFont: #ffffff;
}
.navbar-li {
  background: var(--bgColor);
}
.btn-myComp {
  background-color: var(--otherCompo);
  color: var(--lightFont);
}
.btn-myComp:hover {
  background-color: rgb(214, 65, 5);
}
