:root {
  --backgroundColor: #000000;
  --lightFont: rgb(255, 255, 255);
  --otherCompo: #fe4d07;
}
main {
  height: 85vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  color: var(--lightFont);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-words {
  font-size: 3.5rem;
}
.title-font {
  font-size: 2rem;
  font-weight: 700;
}
.orange {
  color: #fe4d07;
  font-weight: 600;
}
.orange-line {
  color: #fe4d07;
  z-index: 10;
  size: 2px;
}
main hr {
  border: 0;
  background: #fe4d07;
  margin: 40px 84px;
  height: 1.5px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fe4d07;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: var(--lightFont);
}
nav ul li a:hover {
  color: orange;
}
.left {
  font-size: 1.8rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  text-align: center;
}
.firstSection > div {
  width: 35%;
}
.leftSection {
  font-size: 3rem;
  margin: 70px 0;
}
.rightSection {
  margin: 0;
  padding: 0;
}
.rightSection img {
  /* background-color: red; */

  width: 80%;
  margin: 50px 0;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
}
.text-gray {
  color: gray;
}
.skills-boxes {
  display: grid;
}
.title-divider {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 40px 0;
}
.buttons {
  padding: 10px;
}
.btn {
  margin: 5px;
  padding: 12px;
  background-color: var(--otherCompo);
  color: var(--lightFont);
  border: 2px solid var(--lightFont);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid #fc4700;
  color: var(--lightFont);

  background-color: #fc4700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
